<h1>Carrito</h1>
<main>
</main>
<script>
    // usamos este script para agarrar el cid del carrito e instanciarlo
    // en el scope de js
    const cid = "{{{cid}}}"
</script>
<script type="module" src="/static/js/carts.client.js"></script>