<script type="module" src="/static/js/login.client.js"></script>
<main>
  <h2>{{{title}}}</h2>
  <form action="login">
    <label for="email">E-mail<input type="email" name="email" id="email" /></label>
    <label for="password">Contraseña<input
      type="password"
      name="password"
      id="password"
    /></label>
    <button type="submit">Loguearse</button>
  </form>
</main>
