<main>
    <h1>Chat App</h1>
    <ul id="display"></ul>
    <form id="newMessage">
        <input type="text" name="message" id="message-input">
        <input type="submit" value="Enviar">
    </form>
</main>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/static/js/messager.client.js"></script>