<script type="module" src="/static/js/register.client.js"></script>
<main>
  <h2>{{{title}}}</h2>
  <form action="register">
    <label for="email">E-mail<input type="email" name="email" id="email" /></label>
    <label for="password">Contraseña<input
      type="password"
      name="password"
      id="password"
    /></label>
    <button type="submit">Registrarse</button>
  </form>
  <p>Registrate usando <a href="/api/githubLogin">Github</a>!</p>
</main>
